@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #252525;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}
